h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    text-size: 20px;
}
body {
    background-color: rgb(255, 202, 58);
}
main h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    text-align: center;
    text-size: 20px;
}
    
main p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}
a {
    text-decoration: none;
    color: black;
}
iframe {
    margin-right: 125px;
}
